
<div class="dashboard-container">
  <!-- Left side card section -->
  <div class="cards-section">
    <!-- <h2 class="zone-title">Zone: {{ zone.split(' ')[1] || zone }}</h2> -->
    
    <!-- Status charts -->
    <div class="charts-row">
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
      
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
    </div>

    <div class="charts-row">
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
      
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
    </div>
    <div class="charts-row">
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
      
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
    </div>

    

    <!-- <div class="charts-row">
      <div class="chart-container">
        <div #statusChart class="donut-chart"></div>
        <div class="status-legend">
          <div class="legend-item">
            <span class="color-box online"></span>
            <span>Online</span>
          </div>
          <div class="legend-item">
            <span class="color-box offline"></span>
            <span>Offline</span>
          </div>
        </div>
      </div>
      
      
     
    </div> -->
    
    <button (click)="goBack()" class="btn btn-primary">
      🏠 Home
    </button>
  </div>
 
  
  <!-- Right side map section -->
  <div class="map-section">
    <div class="map-container shadow-lg rounded">
      <!-- <div id="map" style="width: 100%; height: 650px;"></div> -->
    <div id="map" style="width: 100%; height: 680px;"></div>

</div>

<div class="map-controls bg-white p-3 mt-3 rounded shadow">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="mapViewOptions" id="radioMachine" value="machine"
           [(ngModel)]="selectedMapView" (change)="changeMapView('machine')">
    <label class="form-check-label" for="radioMachine">Machines</label>
  </div>
  
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="mapViewOptions" id="radioZone" value="zone"
           [(ngModel)]="selectedMapView" (change)="changeMapView('zone')">
    <label class="form-check-label" for="radioZone">Zone</label>
  </div>
  
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="mapViewOptions" id="radioWard" value="ward"
           [(ngModel)]="selectedMapView" (change)="changeMapView('ward')">
    <label class="form-check-label" for="radioWard">Ward</label>
  </div>
  
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="mapViewOptions" id="radioBeat" value="beat"
           [(ngModel)]="selectedMapView" (change)="changeMapView('beat')">
    <label class="form-check-label" for="radioBeat">Beat</label>
  </div>
</div>


  
</div>




